/* === bootstrap === */
//@import "~bootstrap/scss/bootstrap-reboot.scss";
//@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap.scss";
/* ================= */
@import "base/index";
@import "components/index";
@import "containers/index";
@import "utilities/index";

.app-container{
  display: flex;
}
.content-wrapper{
  width: 80%;
}
.sidebar{
  &-container{
    height: 100vh;
    width: 20%;
    background: black;
    padding: 1rem;
  }
  &-list{
    display: flex;
    flex-flow: column;
    list-style-type: none;
    padding-top: 1rem;
    padding-left: 0;
    margin: 0;
  }
  &-item{
    padding: 1rem;
    background-color: transparent;
    transition: .1s background-color ease-in-out;
    a{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      text-decoration: none;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
    &:hover{
      background-color: rgba(yellow,.1);
    }
  }
}
.logo-container{
  padding: 1rem;
  border-bottom: 1px solid $yellow;
}
.fade-in {
  opacity: 0;
}
.fade-in.visible {
  transition: opacity .2s ease-in-out;
  opacity: 1;
}
.action-type{
  text-align: right;
  span{
    padding: .5rem 1rem;
    color: white;
    display: inline-block;
    border-radius: 20px;
    background-color: #36a1d9;
  }
  &.borrow{
    span{
      background: #ffc107;
    }
  }
  &.return{
    span{
      background: forestgreen;
    }
  }
}